.attendance-list {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

/*　-----　日付選択するとこ -----*/

.date-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 20px;
}

.date-link {
    text-decoration: none;
    color: gray;
}

.date-current {
    font-weight: bold;
}

/* ----- テーブル -----*/

.attendance-table {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
}

.attendance-table th,
.attendance-table td {
    text-align: center;
    padding: 8px 20px;
    font-size: 20px;
    color: gray;
}

.table-title {
    border-bottom: 2px solid gainsboro;
}

.table-row {
    border-top: 1px solid gainsboro;
}

/* ========== ここから下はタブレット用 ==========*/
@media screen and (min-width:768px) and (max-width:850px) {

    .attendance-list {
        width: 80%;
    }

    .date-nav,
    .attendance-table th,
    .attendance-table td {
        font-size: 16px;
    }

}
